.component {
    width: 50%;
}

.encode {
    float: left;
}

.decode {
    float: right;
}

img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    float: left;
    background-color: darkgray;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word
}